accelerate==1.4.0
annotated-types==0.7.0
anyio==4.4.0
blinker==1.8.2
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cryptography==44.0.2
distlib==0.3.8
exceptiongroup==1.2.2
fastapi==0.112.2
filelock==3.15.4
Flask==2.3.3
Flask-Caching==2.3.1
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
fsspec==2025.2.0
h11==0.14.0
huggingface-hub==0.29.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==1.1.0
mpmath==1.3.0
mysql-connector-python==9.0.0
networkx==3.4.2
numpy==2.2.3
oracledb==3.1.0
packaging==24.1
platformdirs==4.2.2
psutil==7.0.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pymemcache==4.0.0
PyMySQL==1.1.1
PyPDF2==3.0.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
sniffio==1.3.1
SQLAlchemy==2.0.32
starlette==0.38.2
sympy==1.13.1
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.30.6
virtualenv==20.26.3
Werkzeug==3.0.3
